
#game_screen {
    width: 434px;
    margin: 0px 0px;
    padding: 0px;
    
}

#game_box {
    width: 436px;
    padding: 0px 0px;
    margin: 0px 0px 0px auto;
    float: left;
}
#canvas {
    border: 0px solid #000000;
}

h1 {
    text-align: center;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;

}
#instructions {
    margin-top: 110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(192, 192, 192)
}
/* TETRIS LOGO animation */
#tetris-logo {
    font-family: 'Press Start 2P', cursive;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    color: #fff;
    width: 100%;
    text-align: center;
    
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
    animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-o-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  
/* FINISH TETRIS LOGO animation */

.button {
    font-family: 'Press Start 2P', cursive;
    padding: 5px;

}
.keys{
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
    text-shadow: 0 0 7px rgb(250, 206, 64);

}
#score {
    float: right;
    width: 350px;
    margin: 100px auto 0px 0px;
    font-family: 'Press Start 2P', cursive;
}
#restart {
    font-family: 'Press Start 2P', cursive;
    margin-top: 15px;
    padding: 7px;
}
#github {
    font-family: 'Press Start 2P', cursive;
    margin-top: 15px;
}
#restart:hover, #detailedInstructions:hover, #github:hover {
    cursor: pointer;
}
#detailedInstructions{
    margin-top: 20px; 
    font-family: 'Press Start 2P', cursive;
    padding: 5px
}
#demo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#screen {
    width: 900px;
    margin: 110px auto;
    margin-left: 170px;
}
/*  */
#startGame {
    margin: auto;
    color: rgb(250, 250, 249);
    background: rgb(0, 0, 0);
    width: 434px;
    height: 558px;
    margin-top: 38px;
    border-radius: 5px;
    padding: 0px;
    font-size: 1.25em;
    position: fixed;
    z-index: 1000;
    text-align: center;
}
body {
    background: url("images/background4.jpeg") no-repeat center center fixed;
    background-size: 100% 100%;
    
}
